/* Comment Has Star & bar */ 
/* It IS External Css */
/* h1{
    color: red;
    font-size: 50px;
} */

/* --------------------------------------------------------------------------------------------- */

/* Chapter - Selectors  */

/* Universal Selector  */
/* *{
    font-family: Arial, Helvetica, sans-serif;
  ;
} */

/* Element Selector  */
/* body{
    font-size: 20px;
    border: 3px solid black;
} */

/* It is Also Worked, they uses Inheritance */
/* p{
    color: blue;
} */

/* Class selector */
/* .grey{
    color: grey;
    font-style: italic;
} */

/* ID Selector  */
/* #second{
    color: rgb(19, 103, 8);
} */

/* Group Selctor  */
/* h1,h2{
    color: violet;
} */

/* Inside Group Selector */
/* p span{
    background-color:rgb(221, 87, 87);
} */

/* .grey span{
    color: blue;
} */

/* Universal Selector To Inherit Because Form Has Not Font Style Change */
/* input,button{
    font: inherit;
} */

/* a ID is 1st Priority To Change the style 
a Class Is 2nd Priority to change the style
a element is 3rd Priority to change the style */

/* ---------------------------------------------------------------------------------------------- */

/* Chapter - Color */
/* body{
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(137, 6, 6);
    color: rgb(255,255,255);  
    It Is Red Green Blue Color Called 'rgb', (Min)0 To 255(Max)
} */
/* p{
     color: rgba(249, 249, 21,0.6)
   It Is Red Green Blue Transparency called 'rgba' (Min)0 To 1(Max)Transparency
} */

/* p{
    color:#00ff00;
    It Is Hexadecimal Color Code (Min)0 To F(Max) Same as RGB Pair Concept (00 00 00).
} */

/* p{
    color:hsl(0, 0%, 100%);
    
    It Has Hue Saturation Lightness Color Code. (Min)0 To 360(Max)Hue - 0 is Red, 120 is Green, 240 is Blue. , 
    (Min)0% To 100%(Max)Saturation & Lightness. 
    Also Same As hsla With Transparency.(0 To 1)
} */
 
/* -------------------------------------------------------------------------------------------------------------- */

/* Chapter - Units And Values */
/* header{
   width: 50%;       
} */
 /* Parent Into Child Worked In The Percentage because normal Full Screen has 100% .
 but parent has 50% already Cut , So they parent inside half (50%)Child Has Working.  */
/* h1{
    border:2px dashed red;
    width: 50%;
} */

/* main{
     font-size: 2rem;  
     It Is Root Element(rem),It Has Double The Px Size eg:16*2=32 px into 2rem.  
}
     
p{
    font-size: 2em;
    it Is Relative Of (rem) of (em). Rem already 32px into Double it em. 32*2=64px 2em. 
}
(px) Into Double It (rem) 16 * 2 = 32px  - 2rem
(rem) Into Double It (em) 2rem(32px) * 2rem(32px) = 2em(64px) */

/* h1{
    width: 50%;
    border:2px dashed red ;
    font-size: 2rem;
    padding: 0.8em;
}  
 Connecting To Same Font-size To Padding  */

/* p{
    font-size: 1rem;
    width: 40ch;
}
It Is 40 Characters To Break The Line used For (CH) */

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
} 
It Is Full Page Occupied USing Viewport Height 
because body has only occupied start text to ending text but this (vh) has whole Page Occupied.

main{
    background-color: rgba(0, 11, 228, 0.197);
    width: 50vw;
    View - Port Width It Same As Percentage 50 Percent Only used then Break To Next Line Working.
} */

/* -------------------------------------------------------------------------------------------------------------- */

/* Chapter - Box Model  */
*{
    margin: 0;
    padding: 0;
    /* box-sizing: content-box; It Is Only Occupied Content Box Only Used width: 400px.  
    box-sizing: border-box; Border Box Has content , padding , border also pick And Collab With 400px Used . */
}
  .container{
    border: 3px dashed blue;
    font-size: 1.5rem;
    /* margin: 1em 2em 3em 4em;       Top(1em) - Right(2em) - Bottom(3em) - Left(4em)   Clockwise.
    margin: 1em 2em;               Top-Bottom(1em)    Right-Left(2em) */
    margin: 1.5em;
    padding: 1.5em;
}












/* Chapter - Border Style */
/* h1{
    border-style: dashed;      = -------- dash Simbol Line 
    border-style: dotted;      = ....... Dot Line  
    border-style: solid;       = normal Line 
    border-style: double;      = Double Layer Line 
    border-style: groove;      = 3d ,double Layer Connect Line width
    border-style: ridge;       = The Two Sides are extra Line Outside 
    border-style: inset;       = Left & Top Side Only width Effevtively Worked  
    border-style: outset;      = Right & Down Side Only Width Effectively Worked
    border-style: hidden/none; = Not Shown The Line & Same As (None)
    border-style: inset outset;= Mixed Working Style  

    It Is Specificly Change Top Right Bottom Left Anything 
    border-top-width: 10px;
    border-top-color: black;
    border-top-style:dotted;
    border-radius: 20px;
} */

